<html>
    <head>
        <title> Frames & Produtions </title>
    </head>
    <body>
        <div>
            <h1><a href="/"> Frames and Productions </a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href=""> Blog de vídeos i fotografies </a></h2>
            <p> Tarantino Exists.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p> “Ezequiel, 25-17: El camino del hombre recto está por todos lados rodeado por la avaricia de los egoístas y la tiranía de los hombres malos. Bendito sea aquel pastor que, en nombre de la caridad y de la buena voluntad, saque a los débiles del Valle de la Oscuridad. Porque él es el verdadero guardián de su hermano y el descubridor de los niños perdidos. ¡Y os aseguro que vendré a castigar con gran venganza y furiosa cólera a aquéllos que pretendan envenenar y destruir a mis hermanos! ¡Y tú sabrás que mi nombre es Yavé, cuando mi venganza caiga sobre ti!.”</p>
        </div>
    </body>
</html>
